USE [master]
GO
/****** Object:  Database [FITNESS MONTPELLIER]    Script Date: 08/07/2021 12:40:09 ******/
CREATE DATABASE [FITNESS MONTPELLIER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FITNESS MONTPELLIER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FITNESS MONTPELLIER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FITNESS MONTPELLIER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FITNESS MONTPELLIER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FITNESS MONTPELLIER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FITNESS MONTPELLIER]
GO
/****** Object:  Table [dbo].[adherants]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adherants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prenom] [varchar](255) NOT NULL,
	[numero_telephone] [varchar](10) NOT NULL,
	[date_de_naissance] [date] NOT NULL,
	[date_inscription] [date] NOT NULL,
	[licence_valide] [bit] NOT NULL,
 CONSTRAINT [PK_adherants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Unique_tel_adherants] UNIQUE NONCLUSTERED 
(
	[numero_telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adherents_options]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adherents_options](
	[ID_adherents] [int] NOT NULL,
	[ID_options] [int] NOT NULL,
 CONSTRAINT [PK_adherents_options] PRIMARY KEY CLUSTERED 
(
	[ID_adherents] ASC,
	[ID_options] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[adresse] [varchar](255) NOT NULL,
	[numero_telephone] [varchar](10) NOT NULL,
	[surface_locaux] [smallint] NOT NULL,
	[chiffre_affaire] [money] NOT NULL,
	[charges] [money] NOT NULL,
 CONSTRAINT [PK_club] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Unique_nom_club] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Unique_tel_club] UNIQUE NONCLUSTERED 
(
	[numero_telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_adherent]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_adherent](
	[ID_club] [int] NOT NULL,
	[ID_adherant] [int] NOT NULL,
	[note] [tinyint] NULL,
 CONSTRAINT [PK_club_adherent] PRIMARY KEY CLUSTERED 
(
	[ID_club] ASC,
	[ID_adherant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_employes]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_employes](
	[ID_club] [int] NOT NULL,
	[ID_employes] [int] NOT NULL,
 CONSTRAINT [PK_club_employes] PRIMARY KEY CLUSTERED 
(
	[ID_employes] ASC,
	[ID_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_materiel]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_materiel](
	[ID_club] [int] NOT NULL,
	[ID_materiel] [int] NOT NULL,
 CONSTRAINT [PK_club_materiel] PRIMARY KEY CLUSTERED 
(
	[ID_club] ASC,
	[ID_materiel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_prestation]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_prestation](
	[ID_club] [int] NOT NULL,
	[ID_prestation] [int] NOT NULL,
 CONSTRAINT [PK_club_prestation] PRIMARY KEY CLUSTERED 
(
	[ID_prestation] ASC,
	[ID_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employes]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prenom] [varchar](255) NOT NULL,
	[date_naissance] [date] NOT NULL,
	[numero_telephone] [varchar](10) NOT NULL,
	[date_recrutement] [date] NOT NULL,
	[salaire] [money] NOT NULL,
 CONSTRAINT [PK_employes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_employes] UNIQUE NONCLUSTERED 
(
	[numero_telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiel]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[etat] [varchar](255) NOT NULL,
 CONSTRAINT [PK_materiel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[options]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[options](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prix] [money] NOT NULL,
 CONSTRAINT [PK_options] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prestation_entretien]    Script Date: 08/07/2021 12:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prestation_entretien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[prix_mensuel] [money] NOT NULL,
 CONSTRAINT [PK_prestation_entretien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adherents_options]  WITH CHECK ADD  CONSTRAINT [FK_adherents_options_adherents] FOREIGN KEY([ID_adherents])
REFERENCES [dbo].[adherants] ([ID])
GO
ALTER TABLE [dbo].[adherents_options] CHECK CONSTRAINT [FK_adherents_options_adherents]
GO
ALTER TABLE [dbo].[adherents_options]  WITH CHECK ADD  CONSTRAINT [FK_adherents_options_options] FOREIGN KEY([ID_options])
REFERENCES [dbo].[options] ([ID])
GO
ALTER TABLE [dbo].[adherents_options] CHECK CONSTRAINT [FK_adherents_options_options]
GO
ALTER TABLE [dbo].[club_adherent]  WITH CHECK ADD  CONSTRAINT [FK_club_adherent_adherants] FOREIGN KEY([ID_adherant])
REFERENCES [dbo].[adherants] ([ID])
GO
ALTER TABLE [dbo].[club_adherent] CHECK CONSTRAINT [FK_club_adherent_adherants]
GO
ALTER TABLE [dbo].[club_adherent]  WITH CHECK ADD  CONSTRAINT [FK_club_adherent_club] FOREIGN KEY([ID_club])
REFERENCES [dbo].[club] ([ID])
GO
ALTER TABLE [dbo].[club_adherent] CHECK CONSTRAINT [FK_club_adherent_club]
GO
ALTER TABLE [dbo].[club_employes]  WITH CHECK ADD  CONSTRAINT [FK_club_employes_club] FOREIGN KEY([ID_club])
REFERENCES [dbo].[club] ([ID])
GO
ALTER TABLE [dbo].[club_employes] CHECK CONSTRAINT [FK_club_employes_club]
GO
ALTER TABLE [dbo].[club_employes]  WITH CHECK ADD  CONSTRAINT [FK_club_employes_employes] FOREIGN KEY([ID_employes])
REFERENCES [dbo].[employes] ([ID])
GO
ALTER TABLE [dbo].[club_employes] CHECK CONSTRAINT [FK_club_employes_employes]
GO
ALTER TABLE [dbo].[club_materiel]  WITH CHECK ADD  CONSTRAINT [FK_club_materiel_club] FOREIGN KEY([ID_club])
REFERENCES [dbo].[club] ([ID])
GO
ALTER TABLE [dbo].[club_materiel] CHECK CONSTRAINT [FK_club_materiel_club]
GO
ALTER TABLE [dbo].[club_materiel]  WITH CHECK ADD  CONSTRAINT [FK_club_materiel_materiel] FOREIGN KEY([ID_materiel])
REFERENCES [dbo].[materiel] ([ID])
GO
ALTER TABLE [dbo].[club_materiel] CHECK CONSTRAINT [FK_club_materiel_materiel]
GO
ALTER TABLE [dbo].[club_prestation]  WITH CHECK ADD  CONSTRAINT [FK_club_prestation_club] FOREIGN KEY([ID_club])
REFERENCES [dbo].[club] ([ID])
GO
ALTER TABLE [dbo].[club_prestation] CHECK CONSTRAINT [FK_club_prestation_club]
GO
ALTER TABLE [dbo].[club_prestation]  WITH CHECK ADD  CONSTRAINT [FK_club_prestation_prestation_entretien] FOREIGN KEY([ID_prestation])
REFERENCES [dbo].[prestation_entretien] ([ID])
GO
ALTER TABLE [dbo].[club_prestation] CHECK CONSTRAINT [FK_club_prestation_prestation_entretien]
GO
USE [master]
GO
